@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-count {
  display: flex;
  align-items: center;
  gap: 1em;
}

.container-count button {
  font-size: 16px;
  text-align: center;
}
